[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-heroku = "*"
gunicorn = "*"
requests-html = "*"
selenium = "*"
beautifulsoup4 = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
